<a href="https://colab.research.google.com/github/lgr3qa/Class/blob/main/Copy_of_11_comprehension_and_recursion.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Assignment 11
Due Monday 15 April at noon

Lorenzo Rolumo, Kyoka Trepka

### List comprehension

Many of you resisted my recommendation to use list comprehensions in the previous assignment, and so my hand is forced.  You made me require it.


Problem 1.  For each function you write below, you may assume the list being sent to the function will contain the appropriate data type.

Use list comprehensions to create a function that will take a list `l` and return . . .

(a) . . . a list containing the absolute value of each element of `l`

In [ ]:
test_list_numbers = [1, -2, 3, -4, 0, 5, -6]

In [ ]:
def absolute_values(lst):
    return [abs(x) for x in lst]

absolute_values(test_list_numbers)

[1, 2, 3, 4, 0, 5, 6]

(b) . . . a list containing `True` for each even number in `l` and `False` for each odd number in `l`

In [ ]:
def even_odd_bool(lst):
    return [x % 2 == 0 for x in lst]
even_odd_bool(test_list_numbers)

[False, True, False, True, True, False, True]

(c) . . . a list containing only the numbers in `l` that are divisible by 3

In [ ]:
def divisible_by_three(lst):
    return [x for x in lst if x % 3 == 0]
divisible_by_three(test_list_numbers)

[3, 0, -6]

(d) . . . a list containing only the words in `l` whose first and last letters are the same

In [ ]:
test_list_words = ['level', 'test', 'deified', 'python', 'radar', 'example']

In [ ]:
def same_first_last_letter(lst):
    return [word for word in lst if word[0].lower() == word[-1].lower()]

same_first_last_letter(test_list_words)

['level', 'test', 'deified', 'radar', 'example']

(e) . . . a list containing the first letter of each word in `l` that ends with a vowel

In [ ]:
def first_letter_word_ends_vowel(lst):
    vowels = 'aeiouAEIOU'
    return [word[0] for word in lst if word[-1] in vowels]

first_letter_word_ends_vowel(test_list_words)

['e']

### Multiplication as a recursive process
Problem 2.  Write a recursive function that computes the product of two positive integers `a` and `b` by adding `a` to itself `b` times.

Hints:  
1. if `b=1` then the product is `a`.
2. if `b>1` then the product is what you get by adding `a` to `a * (b-1)`.

Note:  the purpose of this exercise is to practice writing recursive functions.  Of course you can trivially ask for `a*b` and get the correct answer but that is worth no points.  Your function should not use any multiplications.

In [ ]:

def recursive_multiply(a, b):
    if b == 1:
        return a
    else:
        return a + recursive_multiply(a, b-1)

# Test the function with a couple of examples
test_cases = [(4, 7), (3, 5), (1, 10)]
test_results = {str(pair): recursive_multiply(pair[0], pair[1]) for pair in test_cases}
test_results

{'(4, 7)': 28, '(3, 5)': 15, '(1, 10)': 10}

### Division as a recursive process

Problem 3:  Write a recursive function that takes two positive integers `a` and `b` and returns the quotient `q` and remainder `r` obtained when `a` is divided by `b`.

Hints:  
1. If `a<b` then what should `q` and `r` be?

2. If `a>b` then think about how `q` and `r` are related to the values you would get from dividing `a-b` by `b`.

In [ ]:
def recursive_division(a, b, q=0):
    if a < b:
        return q, a
    else:
        return recursive_division(a-b, b, q+1)

# Test the function with a couple of examples
test_cases_division = [(10, 3), (25, 5), (7, 2)]
test_results_division = {str(pair): recursive_division(pair[0], pair[1]) for pair in test_cases_division}
test_results_division

{'(10, 3)': (3, 1), '(25, 5)': (5, 0), '(7, 2)': (3, 1)}

### The dot product of two vectors

Problem 4.  Write a recursive function `dot()` that takes two lists of numbers, of equal length, and returns the sum of the products of the elements of the same index from each list. For example, if `V=[1,2,3]` and `W=[4,5,6]` then the function should return the value $(1 \cdot 4) + (2\cdot 5) + (3\cdot 6)$, which equals 32.  In physics and linear algebra, this is called the "dot product" of the vectors `V` and `W`.

Other examples:
```
dot([3],[4])
12

dot([1,1,0],[2,7,17])
9
```
Hints:
1. How is `dot(V,W)` related to `dot(V[1:],W[1:])`?
2. What should happen if the lists are empty?

In [ ]:
def dot(v, w):
    if not v or not w:
        return 0
    else:
        return v[0] * w[0] + dot(v[1:], w[1:])

# Test the function with the provided examples
test_vectors = [([3], [4]), ([1, 1, 0], [2, 7, 1])]
test_results_vectors = {str(pair): dot(pair[0], pair[1]) for pair in test_vectors}
test_results_vectors

{'([3], [4])': 12, '([1, 1, 0], [2, 7, 1])': 9}